.buttons {
  padding: 0 0 $unit 0;

  @include handheld {
    &.mobile-only {
      width: 75%;
      margin: $unit*2 0;
      margin-left:0 !important;
      padding: 0;
      display: flex !important;
      flex-direction: row;
      justify-content: space-between;

    }
  }
  [class*="button__primary"] {
    background-color: $color--link;
    background-image: $gradient--magenta;
    display: inline-block;
    padding: $unit;
    border-radius: 4px;
    transition: $trans;
    box-shadow: $box-shadow;
    padding-right: $unit*3;
    color: white;
    text-decoration: none;
    @include handheld {
      //max-width: 48%;
      max-width:calc(50% - 10px);
      margin: 0 !important;
      flex: 1 1 calc(50% - 20px);
    }
    .wrapper--button {
      display: flex;
      align-items: center;
    }
    .icon {
      margin-left: $unit;
      width: 40px;

      margin-right: $unit;

      svg {
        path {
          fill: currentColor;
        }
      }
      img {
        max-width: 100%;
        display: block;
      }
    }

    &:hover {
      cursor: pointer;
      transform: translateY(-3px);
      box-shadow: $box-shadow-large;

      .button-text {
        opacity: 1;

      }
    }
    .button-text {
      transition: $trans;
      font-family: $heading-font-family;
      font-weight: 400;
      opacity: 0.75;
      color: white;
      padding-right: $unit;
    }
  }

  &--inline {
    display: inline-block;

    .icon {
      &:first-of-type {
        margin-left: $unit/2;
      }
      margin-left: $unit;
    }
  }

}
